# Ignore environment files
*.env
Assignment2/assign2
# Ignore virtual environments
env/
venv/
.venv/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE config files
.vscode/
.idea/

# Ignore other common files
*.log